@import url("anim.css");

* {
    font-family: Kreon;
}

body {
    background-color: #f4dada;
}

.central {
    margin: auto;
    margin-top: 2vh;
    padding: 10px;
    text-align: center;
}

input,
textarea {
    border-radius: 10px;
    margin-bottom: 2vh;
    width: 50vw;
    padding: 1vw;
}

input {
    border-style: groove;
}

textarea {
    height: 8vh;
}

#rotate {
    transform-origin: center center;
    -webkit-animation: rotation 2s linear infinite;
    -moz-animation: rotation 2s linear infinite;
    -ms-animation: rotation 2s linear infinite;
}

button {
    background-color: #ffb6b9;
    border-radius: 12px;
    border: 0px solid #a658a6;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-size: 20px;
    padding: 18px 51px;
    text-decoration: none;
    box-shadow: 3px 4px 0px 0px #899599;
}

button:hover {
    animation-name: in;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

button:not(:hover) {
    animation-name: out;
    animation-duration: .6s;
    animation-direction: forwards;
}